<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEJAL</title>
  <link rel="stylesheet" href="/css/myprofile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header><%- include('./partials/nav'); %></header>
    <div class="main">
        <div class="leftPart">
            <div class="upperLeft">
                <h3> Welcome, <%= user.fullname %>! </h3>
            </div>
            <div class="lowerLeft">
              <div class="one">
                <a href="#" onclick="openpersonal()">
                  <i class="fa-solid fa-person fa-lg" style="color: #010813;"></i>
                                                        <span class="text"> Personal Info.</span>
                </a>
            </div>
            <br>
              <!--  <div class="two">
                  <hr>
                    <a href="#" onclick="openwishlist()">
                        <i class="fa-solid fa-heart" style="color: black;"></i>
                        <span class="text"> MY WISHLIST</span>
                    </a>
                </div>-->
                <br>
                <div class="three">
                    <hr>
                    <a href="#" onclick="openorder()">
                        <i class="fa-solid fa-cart-shopping" style="color:black;"></i>
                        <span class="text"> ORDERS </span>
                    </a>
                </div>
                <br>
                <div class="four">
                    <hr>
                    <a href="#" onclick="opencontact()">
                        <i class="fa-solid fa-phone" style="color: black;"></i>
                        <span class="text"> CONTACT US </span>
                    </a>
                </div>
                <div class="five">
                    <hr>
                    <a href="#" onclick="openedit()">
                        <i class="fa-solid fa-pen-to-square" style="color:black;"></i>
                        <span class="text"> EDIT INFO </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="rightPart" id="rightPart">

           <!-- Personal-info Div -->
<div class="personal-info" id="personal-info">
  <h2>Personal Information</h2>
  <hr>
    <h1>Welcome, <%= user.fullname %>!</h1>
    <div class="info-item">
      <span class="label">Email : </span>
      <span class="value" id="userEmail"><%= user.email %></span>
    </div>
    <div class="info-item">
      <span class="label">Phone Number : </span>
      <span class="value" id="userPhoneNumber"><%= user.phoneNumber %></span>
    </div>
    <div class="info-item">
      <span class="label">City : </span>
      <span class="value" id="userCity"><%= user.city %></span>
    </div>
    <div class="button-container">
      
      <p class="kalamtaht">
        If you need any assistance, please don't hesitate to <a class="contact" onclick="opencontact()">contact us</a>.
        <br>
        Our customer support team is here to help
        <a class="links" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a class="links" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>.
      </p>
      <button class="logoutButton" onclick="logout()">LOG OUT</button>
    </div>
  
</div>


            <!-- wishdiv -->
<div class="wishdiv" id="wishdiv">
  <% if (user.wishlist.length === 0) { %>
      <div class="wishsora">
          <img src="/zimages/emptywish.jpeg"  class="image">
      </div>
      <div class="wishkalam">
          <h1>Your Wishlist Is Empty!</h1>
          <span class="smalltext">You haven’t added any products to your wishlist yet.</span>
          <br>
          <button><a class="buttontext" href="productsPage.html">Start Shopping</a></button>
      </div>
  <% } else { %>
      <div class="wishlist-content">
          <% user.wishlist.forEach(item => { %>
              <!-- Render each item in wishlist -->
              <div class="wishlist-item">
                  <h2><%= item.productName %></h2>
                  <p><%= item.price %></p>
              </div>
          <% }); %>
      </div>
  <% } %>
</div>

<!-- orderdiv -->
<div class="orderdiv" id="orderdiv">
  <% if (user.orders.length === 0) { %>
      <div class="ordersora">
          <img src="/zimages/download.jpeg" class="image">
      </div>
      <div class="orderkalam">
          <h1>There is no order yet!</h1>
          <span class="smalltext">You haven't ordered any products yet.</span>
          <br>

          <button><a class="buttontext" href="home.html" target="_blank">Add your first order now</a></button>
      </div>
  <% } else { %>
      <div class="orders-content">
          <% user.orders.forEach(order => { %>
              <!-- displayy each order -->
              <div class="order-item">
                  <h2>Order ID: <%= order.orderId %></h2>
                  <p>Date: <%= order.orderDate %></p>
              </div>
          <% }); %>
      </div>
  <% } %>
</div>

            <!-- contactdiv -->
            <div class="contactdiv" id="contactdiv">
                <form>
                    <h2>Contact us by sending your:</h2>
                    <hr>
                    <label for="email">Email:</label>
                    <input id="email" type="email" required>
                    <br>
                    <label for="number">Phone Number:</label>
                    <input id="number" type="tel" pattern="0(10|11|12|15)\d{8}" required title="phone number not valid. ">
                    <label for="message">Your message:</label>
                    <input id="message" type="text" required>
                    <input id="send" type="submit" value="Send">
                </form>
                <img width="224" height="150"
                    src="https://sleeknotecom.wpenginepowered.com/wp-content/uploads/2023/11/image-4-1024x1024.png.webp">
              
            </div>
            <!-- editdiv -->
            <div class="editdiv" id="editdiv">
              <h2>Edit Information</h2>
<hr>
<div class="form-container">

                    <div class="eachline">
                        <label for="newusername">UserName:</label>
                        
                        <input type="text" id='newusername' name="newFullname">
                    </div>
                    <div class="eachline">
                        <label for="newemail">Email:</label>
                        
                        <input type="text" id='newemail' name="email">
                    </div>
                    <div class="eachline">
                        <label for="newpassword">New Password:</label>
                        <input type="text" id="newpassword" name="newPassword">
                    </div>
                    <div class="eachline">
                        <label for="newnumber">Phone Number:</label>
                        <input type="tel" id="newnumber" name="newPhoneNumber"
                            pattern="0(10|11|12|15)\d{8}" required title="Enter valid phone number">
                    </div>
                    <div class="eachline">
                        <label for="newcountry">City:</label>
                        <input type="text" id="newcountry" name="newCity">
                    </div>
                    <div class="eachline">
                        <label for="newaddress">Address:</label>
                        <input type="text" id="newaddress" name="newAddress">
                    </div>
                    
                    <div id="error-message" style="display:none; color: red;"></div>
                    <div class="button-container">
                      <button class="editButton" onclick="edit()">Edit Info</button>
                      <button type="button" class="saveButton" id="saveButton" onclick="save(event)" >Save</button>
                      <button class="deleteButton" id="deleteButton" onclick="deleteAccount()">Delete Account</button>
                  </div>
                
            </div>
        </div>
    </div>
  </div>

    <div class="div-buttom"><%- include('./partials/footer'); -%></div>
    <script src="/js/myprofile.js"></script>
    <script src="/js/js-edit.js"></script>
    <!--<script src="/js/js-addacc.js"></script>-->
    <!-- <script src="loadpage.js"></script> -->
</body>
</html>



