<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SEJAL.com</title>
  <link rel="stylesheet" href="./css/productsStyle.css" />
  <link rel="stylesheet" href="./css/nav&footerStyle.css" />
  <script src="https://kit.fontawesome.com/69992cfeb0.js"></script>
</head>
<body>
  <%- include('./partials/nav'); %>

  <div id="fullpage">
    <div id="page">
      <div class="sidebar">
        <h4 id="filter"><i class="fa-solid fa-filter"></i> Filters</h4>
        <div class="size-content">
          <button class="size-btn" onclick="displaySize()">Size
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropdown-size">
            <input type="radio" id="small" name="size" value="small">
            <label for="small"> S</label><br>
            <input type="radio" id="medium" name="size" value="medium">
            <label for="medium">M</label><br> 
            <input type="radio" id="large" name="size" value="large">
            <label for="large">L</label><br>
            <input type="radio" id="xlarge" name="size" value="xlarge">
            <label for="xlarge">XL</label><br>
          </div>
        </div>
        <div class="product-content">
          <button class="product-btn" onclick="displayProduct()">Product Type
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropdown-producttype"> 
            <input type="radio" id="prod1" name="prod" value="T-shirt">
            <label for="prod1">Shirt</label><br>
            <input type="radio" id="prod3" name="prod" value="Jeans">
            <label for="prod3">Jeans</label><br>
            <input type="radio" id="prod4" name="prod" value="Sweatshirt">
            <label for="prod4">Sweatshirt</label><br>
            <input type="radio" id="prod5" name="prod" value="Dress">
            <label for="prod5">Dress</label><br>
          </div>
        </div>
       <a href="/products/filter"><button type="button" id="searchBtn" onclick="searchProduct()">Search</button></a> 
        <button type="button" id="exitBtn" onclick="clearCart()">Exit Page</button>
      </div>
      <section class="product-list">
        <div class="producttxt"><h1>Products</h1></div>
        <div id="product-container">
          <% products.forEach((product) => { %>
            <a class="card" href="/products/<%= product.id %>">
              <img src="/images/db/<%=product.image1 %>" class="img">
              <span class="tooltiptext"><%= product.name %></span>
              <p class="text"><%= product.name %></p>
              <p class="price">Price: <%= product.price %> EGP</p>
            </a>
          <% }); %>
        </div>
      </section>
    </div>
    <%- include('./partials/footer'); %>
  </div>

  <script src="./js/cart.js"></script>
  <script src="./js/products.js"></script>
  <script>
    function displaySize() {
      var x = document.getElementById("dropdown-size");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    function displayProduct() {
      var x = document.getElementById("dropdown-producttype");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    async function searchProduct() {
      console.log("in finc searchprod");
      let sizeSelected = "";
      let prodSelected = "";

      let siz = document.getElementsByName("size");
      let prod = document.getElementsByName("prod");

      for (let i = 0; i < siz.length; i++) {
        if (siz[i].checked) {
          sizeSelected = siz[i].value;
          console.log("in if siz[i]: "+sizeSelected)
        }
      }

      for (let i = 0; i < prod.length; i++) {
        if (prod[i].checked) {
          prodSelected = prod[i].value;
          console.log("in if siz[i]: "+prod[i].value)

        }
      }

      fetch('/products/filter', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          size: sizeSelected,
          type: prodSelected,
        }),
      })
      .then(response => response.json())
      .then(data => {
        displayFilteredProducts(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    function displayFilteredProducts(products) {
      console.log("in display filtered"+products.name);
      const container = document.getElementById('product-container');
      container.innerHTML = ''; // Clear previous products

      products.forEach(product => {
        const card = document.createElement('a');
        card.className = 'card';
        card.href = `/products/${product.id}`;
        
        const img = document.createElement('img');
        img.src = product.image1;
        img.className = 'img';
        card.appendChild(img);
        
        const tooltip = document.createElement('span');
        tooltip.className = 'tooltiptext';
        tooltip.textContent = product.name;
        card.appendChild(tooltip);
        
        const name = document.createElement('p');
        name.className = 'text';
        name.textContent = product.name;
        card.appendChild(name);
        
        const price = document.createElement('p');
        price.className = 'price';
        price.textContent = `Price: ${product.price} EGP`;
        card.appendChild(price);
        
        container.appendChild(card);
      });
    }
  </script>
</body>
</html>
